 body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
    min-height: 100vh;
    background: #1b1b22;
    padding: 30px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  button {
    appearance: none;
    background: none;
    padding: 16px 80px;
    font-weight: bold;
    color: inherit;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border: solid 2px transparent;
    margin: 16px 8px 0 8px;
  }
  button.example-2 {
    background-image: linear-gradient(#1b1b22,#1b1b22),
    linear-gradient(to right, #00e5c0, #ac00ad, #00e5c0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  button.example-2.animated {
    background-size: 200% auto;
    animation: btnGradient 1.5s infinite linear;
  }
  @keyframes btnGradient {
    to {
      background-position-x: 200%;
    }
  }
  h1 {
    margin-bottom: 16px;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  h1 span {
    color: #00e5c0;
  }
  
  /* Créditos */
  div {
    margin-top: 32px;
  }
  
  div a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
    a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    }

 .name {
    background-image: linear-gradient(#1b1b22,#1b1b22),
    linear-gradient(to right, #00e5c0, #ac00ad, #00e5c0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% auto;
    color: #fff;
    border: solid 2px transparent;
    margin-left: 10px;
    padding: 10px 12px;
    font-size: 15px;
    animation: btnGradient 1.5s infinite linear;
 }
 .date {
    background-image: linear-gradient(#1b1b22,#1b1b22),
    linear-gradient(to right, #00e5c0, #ac00ad, #00e5c0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% auto;
    color: #fff;
    border: solid 2px transparent;
    margin-left: 10px;
    padding: 8px 20px;
    font-size: 18px;
    animation: btnGradient 1.5s infinite linear;
 }
 .enviar { 
    background-image: linear-gradient(#1b1b22,#1b1b22),
    linear-gradient(to right, #00e5c0, #ac00ad, #00e5c0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% auto;
    color: #fff;
    border: solid 2px transparent;
    margin-left: 10px;
    padding: 8px 40px;
    font-size: 18px;
    animation: btnGradient 1.5s infinite linear;
 }
 .number{
    background-image: linear-gradient(#1b1b22,#1b1b22),
    linear-gradient(to right, #00e5c0, #ac00ad, #00e5c0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 200% auto;
    color: #fff;
    border: solid 2px transparent;
    margin-left: 10px;
    padding: 8px 20px;
    font-size: 18px;
    animation: btnGradient 1.5s infinite linear;
 }